@import './base.css';

/* card */
.card {
  background-color: var(--text-color);
  box-shadow: 0 1px 4px var(--dark-shade);
  padding: 10px;
  margin: 10px;
}

/* layouts */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/* alignment */
.justify-content-center {
  justify-content: center;
}

.justify-content-right {
  justify-content: end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-self-start {
  justify-self: flex-start;
}

.justify-self-center {
  justify-self: center;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-self-center {
  align-self: center;
}

.place-items-center {
  place-items: center;
}

.place-center {
  align-items: center;
  justify-content: center;
}

/* background */
.bg-white {
  background-color: var(--white);
}

.bg-light {
  background-color: var(--light-color);
}

.bg-dark {
  background-color: var(--dark-text-color);
}

.bg-darken {
  background-color: var(--hovered);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-dark-primary {
  background-color: var(--dark-primary-color);
}

.bg-light-primary {
  background-color: var(--light-primary-color);
}

.bg-success {
  background-color: var(--success-color);
}

.bg-warning {
  background-color: var(--warning-color);
}

/* border-radius */
.br-5 {
  border-radius: 5px;
}

.br-10 {
  border-radius: 10px;
}

.br-15 {
  border-radius: 15px;
}

.br-20 {
  border-radius: 20px;
}

.br-25 {
  border-radius: 25px;
}

/* Colors */
.text-white {
  color: var(--text-color);
}

.text-dark {
  color: var(--dark-text-color)
}

.text-secondary {
  color: var(--text-secondary)
}

.text-primary {
  color: var(--primary-color)
}

.text-dark-primary {
  color: var(--dark-primary-color)
}

.text-light-primary {
  color: var(--light-primary-color);
}

.text-success {
  color: var(--success-color);
}

.text-warning {
  color: var(--warning-color);
}

.text-danger {
  color: var(--danger-color)
}

.text-error {
  color: var(--error-color);
}

.text-light {
  color: var(--light-color)
}

/* text-align */
.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* fancy input */
.err-msg {
  font-size: 9pt;
}

.cform-control {
  height: 50px;
}

.cform-control .cform-label {
  display: block;
  top: 50%;
  left: 5px;
  transform-origin: left top;
  user-select: none;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
}

.cform-control input:focus + label,
.cform-control input:not(:placeholder-shown) + label {
  transform: translateY(-145%) scale(0.8);
}

.cform-control input:focus::placeholder {
  color: var(--dark-shade);
}

.cform-control input::placeholder {
  color: transparent;
}

.pattern-control input[type=text]:invalid:not(:placeholder-shown) {
  border-bottom: 2px solid var(--text-danger);
}

.pattern-control .err-msg {
  display: none;
}

.pattern-control input[type=text]:invalid:not(:placeholder-shown) ~ .err-msg {
  display: block !important;
}

.err-msg {
  font-size: 9pt;
  display: block;
  font-weight: bold;
  color: var(--text-danger)
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
