@import './base.css';

/* card */
.card {
  background-color: var(--text-color);
  box-shadow: 0 1px 4px var(--dark-shade);
  padding: 10px;
  margin: 10px;
}

/* layouts */
.flex {
  display: flex;
}
/* alignment */
.place-center {
  align-items: center;
  justify-content: center;
}

/* background */
.bg-primary {
  background-color: var(--primary-color);
}

/* border-radius */
.br-5 {
  border-radius: 5px;
}

.br-10 {
  border-radius: 10px;
}




/* Colors */
.text-primary {
  color: var(--primary-color)
}

.text-danger {
  color: var(--danger-color)
}

.text-error {
  color: var(--error-color);
}


/* form */
.cform-control {
  height: 70px;
}

.cform-control .cform-label {
  display: block;
  top: 50%;
  left: 5px;
  transform-origin: left top;
  user-select: none;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
}

.cform-control input {
  border: 1px solid black; 
  height: 40px;
  text-indent: 5px;
  width: 100%;
}
.err-msg {
  font-size: 9pt;
  display: block;
  font-weight: bold;
  color: var(--text-danger)
}

/* media */
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
